footer {
  padding: 1em;
  color: white;
  background-color: var(--green-accent);
  width: 100%;
  text-align: center;
  border-top: .5em solid var(--yellow-accent);
}


.footer-content {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 1em 0 2em;
}

.mission {
  width: 50%;
  text-align: left;
}

.mission p {
  width: 50%;
}

.social-links {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.social-links img {
  width: 1.5em;
}

.action-buttons {
  width: 50%;
  padding: 1em;
  text-align: right;
}

.call-to-action {
  padding: 1em 2em;
  background-color: var(--yellow-accent);
  color: white;
  display: inline-block;
  margin: .5em 1em;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}

.call-to-action:hover {
  background-color: white;
  color: var(--green-accent);
}

.copyright {
  border-top: 1px solid;
  padding-top: 1em;
  margin: 0 -1em;
}

.copyright a {
  color: white;
  text-decoration: underline;
}

@media (max-width: 920px) {
  .footer-content {
    display: block;
  }

  .mission {
    width: 100%;
    text-align: center;
  }

  .mission p {
    width: 100%;
  }

  .action-buttons {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .call-to-action {
    width: 100%;
    margin: .5em 0;
  }

  .social-links {
    width: 100%;
    justify-content: space-evenly;
    margin: 1em 0;
  }
}