footer {
  padding: 1em;
  color: white;
  background-color: var(--green-accent);
  width: 100%;
  text-align: center;
  border-top: .5em solid var(--yellow-accent);
}

.footer-content {    
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1em 0 2em;
  align-items: center;
  justify-content: center;
}

.mission {
  width: 30%;
  text-align: left;
}

.mission p {
  width: 80%;
  margin: 1em 0 2em 0;
  text-align: justify;
}

.social-links {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.social-links img {
  width: 1.5em;
}

.cyber-gif {
  width: 30%;
  overflow: hidden;
}

.cyber-gif img {
  width: 100%;
  animation: marquee 5s infinite linear;
  transform: translateX(100%)
}

.action-buttons {
  width: 30%;
  padding: 1em;
  text-align: right;
}

.action-buttons .call-to-action {
  display: inline-block;
  margin: .5em 0em;
  text-align: center;
  width: 75%;
  text-transform: uppercase;
  font-weight: bold;
}

.copyright {
  border-top: 1px solid;
  padding-top: 1em;
  margin: 0 -1em;
}

.copyright a {
  color: white;
}

@media (max-width: 920px) {
  .footer-content {
    display: block;
    width: 100%;
  }

  .mission {
    width: 100%;
    text-align: center;
  }

  .mission p {
    width: 100%;
  }

  .cyber-gif {
    display: none;
  }

  .action-buttons {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .call-to-action {
    width: 100%;
    margin: .5em 0;
  }

  .social-links {
    width: 100%;
    justify-content: space-evenly;
    margin: 1em 0;
  }
}

@keyframes marquee {
  0% {transform: translateX(100%)}
  20% {transform: translateX(0)}
  75% {transform: translateX(0)}
  95% {transform: translateX(-100%); display: none}
  100% {transform: translateX(-100%); display: block}
}