#showcase {
  width: 100%;
}

.showcase-container {
  padding: 0 5em;
}

.main-video {
  margin-bottom: 2em;
  height: 65vh;
}

iframe {
  background-color: #ddd;
}

.main-video iframe {
  width: 100%;
  height: 100%;
}

.video-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

.video-container iframe {
  width: 100%;
}

@media (max-width: 920px) {
  .showcase-container {
    padding: 0 1em;
  }

  .video-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .video-container {
    grid-template-columns: 1fr;
  }
}